{% extends 'bordado/index.html' %}
{% load static %}

{% block header.content %}
  {{ titulo }}
   <!-- - <a href="{% url 'bordado:index' %}">{{ block.super }}</a> -->
{% endblock header.content %}

{% block style %}
  <style>
    {% include 'layout/simple_table.css' %}
    {% include "layout/paginator_stylesheet.css" %}
    .errorlist {
      color: darkred;
      margin: 0.25rem;
      padding-left: 1rem;
    }
    /* h6 utilizado na chamada do generic/form_inputs_report */
    h6 {
      font-size: unset;
      font-weight: normal;
      margin: 0.25rem;
    }
  </style>
{% endblock %}

{% block content %}
  <form class="noprint" action="{% url 'bordado:listagem_pedido' %}" method="post" name="myForm">
    {% csrf_token %}
    {% include "layout/generic/form_field_control.html" with form=form only %}
    <input class="button" type="submit" value="Busca"/>
  </form>
  {% if form_method == 'POST' %}
    {% include "layout/generic/form_report.html" with form_report=form_report only %}
    {% if msg_erro %}
      <ul class="errorlist">
        {% for error in msg_erro %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% include "layout/paginator.html" with data=tabela.pedidos url_name='cd:novo_estoque' only %}
    {% if tabela.pedidos.paginator.count %}
    Quantidade de pedidos encontrados: {{tabela.pedidos.paginator.count}}
    {% endif %}
    {% include "layout/generic/table.html" with table=tabela only %}

    {% include "layout/paginator.html" with data=tabela.pedidos url_name='cd:novo_estoque' noprint=1 only %}
  {% endif %}
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    {% include "layout/paginator_javascript.js" with form='myForm' field='page' only %}
  </script>
{% endblock %}
