/*
--------------------------------------------------
  Geral
--------------------------------------------------
*/
html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
body, html, .main_body {
  margin: 0;
}

/*
--------------------------------------------------
  Forms
--------------------------------------------------
*/
.helptext {
  font-size: 90%;
  opacity: .8;
}

/*
--------------------------------------------------
  screen
--------------------------------------------------
*/

@media screen {
  .print {
    display: none;
  }
}

/*
--------------------------------------------------
  Print
--------------------------------------------------
*/

@media print {
  a[href]:after {
    content: none
  }

  .noprint {
    display: none;
  }

  @page {
      margin: 1cm;
  }
}
