{% extends 'layout/layout.html' %}
{% load static %}

{% block header.content %}Consultas{% endblock header.content %}

{% block content %}
<ul>
  <li>Listagem</li>
  <ul>
    <li><a href="{% url 'bordado:listagem_pedido' %}">Pedido</a></li>
    <li><a href="{% url 'bordado:listagem_cobranca' %}">Cobrança</a></li>
    <li><a href="{% url 'bordado:listagem_faturamento' %}">Nota fiscal</a></li>
    <li><a href="{% url 'bordado:listagem_lancamento' %}">Lançamento</a></li>
  </ul>
  <li>Análise</li>
  <ul>
    <li><a href="{% url 'bordado:analise_cobranca' %}">Cobrança</a></li>
    <li><a href="{% url 'bordado:analise_cliente' %}">Cliente</a></li>
  </ul>
  <li>Financeiro</li>
  <ul>
    <li><a href="{% url 'bordado:financeiro_mes' %}">Clientes / 3 meses</a></li>
  </ul>
</ul>
{% endblock %}
