{% extends 'bordado/menu_p.html' %}
{% load static %}

{% block header.content %}{{ titulo }} - <a href="{% url 'bordado:index_p' %}">{{ block.super }}</a>{% endblock header.content %}

{% block style %}
  <style>
    {% include 'layout/simple_table.css' %}
  </style>
{% endblock %}

{% block content %}
  <form action="{% url 'bordado:lancamento' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="button" type="submit" value="Busca"/>
  </form>
  {% if request.POST %}
    {% include "layout/generics/form_inputs_report.html" with form=form h=4 only %}
    <table>
      {% include "layout/generics/thead.html" with data=headers safe=safe style=style thclass='sticky' only %}
      {% include "layout/generics/tbody.html" with fields=fields data=data safe=safe style=style only %}
    </table>
  {% endif %}
{% endblock %}
