{% if lines_before %}{% spaceless %}
  {% for line in lines_before %}{% spaceless %}
    <h{{h}}>{{line}}</h{{h}}>
  {% endspaceless %}{% endfor %}
{% endspaceless %}{% endif %}
{% if form.field_control %}
  {% for field_set in form.field_control %}
    <h{{h}}>{% spaceless %}
      {% for field_name in field_set %}{% spaceless %}
        {% for input in form %}{% spaceless %}
          {%if field_name == input.name%}{% spaceless %}
            {% include "layout/form_inputs_report_value.html" with input=input only%}
          {% endspaceless %}{% endif %}
        {% endspaceless %}{% endfor %}
      {% endspaceless %}{% endfor %}
  {% endspaceless %}</h{{h}}>{% endfor %}
{% else %}{% spaceless %}
  {% for input in form %}{% spaceless %}
    {% if input.field.widget.input_type != 'hidden' %}{% spaceless %}
      {% if excludes %}{% spaceless %}
        {% if input.name not in excludes %}{% spaceless %}
          {% include "layout/form_inputs_report_value.html" with input=input h=h only%}
        {% endspaceless %}{% endif %}
      {% endspaceless %}{% else %}{% spaceless %}
        {% include "layout/form_inputs_report_value.html" with input=input h=h only%}
      {% endspaceless %}{% endif %}
    {% endspaceless %}{% endif %}
  {% endspaceless %}{% endfor %}
{% endspaceless %}{% endif %}
{% if lines_after %}{% spaceless %}
  {% for line in lines_after %}{% spaceless %}
    <h{{h}}>{{line}}</h{{h}}>
  {% endspaceless %}{% endfor %}
{% endspaceless %}{% endif %}