<header class="px-4 flex row items-center justify-between border-b border-solid border-slate-800 shadow-[0_2px_2px_-1px] shadow-slate-700">
  <a
    class="router-link text-2xl font-bold
    {% if app_link == 'principal' %}
    router-link-active text-sky-600
    {% endif %}
    ""
    href="{% url 'index' %}"
  >
    RPR - Ponto2 <span class="text-sm">b</span>
  </a>

  <div>
    {% if request.user.is_authenticated %}
    <a
      class="router-link px-1 border-l border-sky-600
      {% if app_link == 'bordado' %}
      router-link-active text-sky-600 font-bold
      {% endif %}
      "
      href="{% url 'bordado:index' %}"
    >Bordado</z>
    {% endif %}
    <a
      class="router-link px-1 border-l border-sky-600
      {% if app_link == 'sobre' %}
      router-link-active text-sky-600 font-bold
      {% endif %}
      "
      href="{% url 'bordado:sobre' %}"
    >Sobre</a>
    <span class="border-l border-sky-600"></span>
  </div>

  <div class="flex row items-center">
    {% if request.user.is_authenticated %}
      <span>{{ request.user.username }}&ThickSpace;</span>
      <a
        class="px-2 py-0.5 rounded-lg bg-sky-700 font-bold text-slate-100"
        href="{% url 'encerrar' %}"
        type="button">
        Encerrar
      </a>
    {% else %}
      <a
        class="px-2 py-0.5 rounded-lg bg-sky-700 font-bold text-slate-100"
        href="{% url 'login' %}?next={% url 'bordado:index' %}"
        type="button">
        Identificar-se
      </a>
    {% endif %}
  </div>
</header>
