# não divulgar a SECRET_KEY
SECRET_KEY=secret

# deve ser False
DEBUG=False

# acesso à base de dados principal
DATABASE_URL=psql://user:password@127.0.0.1:8458/database

#  Simple JWT: signing key that is used to sign the content of generated tokens
SIMPLE_JWT_SIGNING_KEY=secret
