{% if table.title %}
  <h{% firstof table.title_h 3 %}>{{table.title}}</h{% firstof table.title_h 3 %}>
{% endif %}
{% if table.data %}
  {% if table.data_title %}
    <h{% firstof table.title_h 3 %}>{{table.data_title}}</h{% firstof table.title_h 3 %}>
  {% endif %}
  <table>
    {% include "layout/generic/thead.html" with data=table.headers style=table.style thclass=table.thclass only %}
    {% include "layout/generic/tbody.html" with fields=table.fields data=table.data style=table.style decimals=table.decimals safe=table.safe group=table.group only %}
    </table>
{% else %}
  {% if table.empty %}
    <h{% firstof table.empty_h 4 %}>{{table.empty}}</h{% firstof table.empty_h 4 %}>
  {% endif %}
{% endif %}
