{% extends 'bordado/index.html' %}
{% load static %}

{% block header.content %}
  {{ titulo }}
   <!-- - <a href="{% url 'bordado:index' %}">{{ block.super }}</a> -->
{% endblock header.content %}

{% block style %}
  <style>
    {% include 'layout/simple_table.css' %}
    .errorlist {
      color: darkred;
      margin: 0.25rem;
      padding-left: 1rem;
    }
    /* h6 utilizado na chamanda do generic/form_inputs_report */
    h6 {
      font-size: unset;
      font-weight: normal;
      margin: 0.25rem;
    }
  </style>
{% endblock %}

{% block content %}
  <form class="noprint" action="{% url 'bordado:analise_cliente' %}" method="post">
    {% csrf_token %}
    {% include "layout/generic/form_field_control.html" with form=form only %}
    <input class="button" type="submit" value="Busca"/>
  </form>
  {% if form_method == 'POST' %}
    {% if cliente_data %}
      {% include "layout/generic/form_inputs_report.html" with form=form h=6 only %}
    {% else %}
      <h6>{% include "layout/generic/form_inputs_report_value.html" with input=form.apelido only%}</h6>
    {% endif %}
    {% if msg_erro %}
      <ul class="errorlist">
        {% for error in msg_erro %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <table>
      {% include "layout/generic/thead.html" with data=headers safe=safe style=style thclass='sticky' group=group only %}
      {% include "layout/generic/tbody.html" with fields=fields data=clientes_data safe=safe style=style group=group only %}
    </table>

    <table>
      {% include "layout/generic/thead.html" with data=end1_headers safe=end1_safe style=end1_style thclass='sticky' group=end1_group only %}
      {% include "layout/generic/tbody.html" with fields=end1_fields data=cliente_data safe=end1_safe style=end1_style group=end1_group only %}
    </table>

    <table>
      {% include "layout/generic/thead.html" with data=end2_headers safe=end2_safe style=end2_style thclass='sticky' group=end2_group only %}
      {% include "layout/generic/tbody.html" with fields=end2_fields data=cliente_data safe=end2_safe style=end2_style group=end2_group only %}
    </table>

    {% include "layout/generic/table.html" with table=totais only %}

  {% endif %}
{% endblock %}
